.info_card-wrap {
    padding: 2rem 0;

    .check_out-info-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .info_inner-wrap {
        --flexVal: 70%;
        flex: var(--flexVal);
        max-width: var(--flexVal);
        background-color: var(--bgColor);
        padding: 3rem;
        border-radius: .25rem;

        .info_form {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-bottom: 1rem;
            
        }

        .form_txt {
            color: var(--primaryColor);
            margin-block: 1.5rem;
        }

        .pos_row {
            display: flex;
            gap: 1.5rem;
            align-items: center;
        }

        select {
            padding: .75rem;
            background-color: var(--whiteColor);
            border: none;
            border-radius: .3rem;
        }

        .form_btn {
            padding: .75rem;
            background: var(--borderColor);
            border: .1rem solid var(--borderColor);
            border-radius: .3rem;
            cursor: pointer;
            transform: translateY(29%);
        }

        .card_info-wrap {
        background-color: gray;
        padding: 10rem;
    }
    } //Info inner wrap

.cart_summary-card {
    flex: 1;
    margin-left: 2rem;

    .cart_sum-card-inner {
    border: .1rem solid var(--borderColor);
    padding: 1rem;

    .cart_sum-txt {
        padding: .5rem;
    }

    .summary_row {
        display: flex;
        justify-content: space-between;
        margin-bottom: .10rem;
        padding: .5rem;
        font-size: .9rem;
        color: #515151cc;

        .total {
            color: black;
        }
        .amount {
            color: var(--primaryColor);
        }
    }

    .b_brdr {
        border-bottom: .1rem solid var(--borderColor);
    }

    }

    .check_btn-txt {
        font-weight: lighter;
        font-size: .9em;
        color: #515151cc;
    }

    .cart_btn {
        padding: .75rem 5rem;
        background-color: var(--bgColor);
        border-radius: .3rem;
        color: black;
        margin-block: .75rem;
    }

}

}